body {
  font-family: Poppins;
}

a {
  color: #202124;
  text-decoration: none;
}

a.github-link {
  color: #7a9dc0;
}

h1 {
  text-align: left;
  font-size: 60px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
  color: #8eb4da;
  color: #202124;
}

h2 {
  margin-top: 20px;
  font-size: 22px;
  color: #202124;
}
h4 {
  font-size: 14px;
  line-height: 19px;
  color: #70757a;
}

p {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-size: 14px;
}

img {
  display: block;
  margin: 0 auto;
}

hr {
  display: block;
  color: #8eb4da79;
}

hr.current {
  max-width: 20%;
  color: #8eb4da79;
  height: 3px;
  margin: 0 auto 10px;
}

hr.forecast-divider {
  height: 3px;
  margin: 15px;
}

p.current-temp-range {
  text-align: left;
  margin-left: 2px;
  margin-top: 10px;
  font-size: 16px;
  color: #7a9dc0;
}

.current-high-temp-H {
  font-weight: 600;
}

.current-low-temp {
  font-weight: 400;
}

.card {
  max-width: 650px;
  margin: 30px 0;
  padding: 15px;
  border-radius: 0.8rem;
  border: 3px solid #8eb4da49;
}

.current-description {
  padding: 0;
}

.current-temp {
  margin-left: 30px;
  padding-left: 20px;
  margin-top: 20px;
  border-left: 3px solid #8eb4da49;
}

.current-icon {
  margin-top: 60px;
  padding: 0;
  margin-left: 20px;
}

.current-specs {
  position: relative;
  top: 40px;
  padding: 0;
  margin-top: 40px;
}

.humidity {
  color: #7a9dc0;
}

.wind-speed {
  color: #7a9dc0;
}

.search-btn {
  display: inline-block;
}

.main-display {
  margin: 20px;
  margin-top: 0;
}

p.current {
  color: rgba(0, 0, 0, 0.6);
}

.search-submit {
  max-width: 100px;
  text-align: center;
}

.temp-units {
  font-size: 16px;
  position: relative;
  top: -32px;
}

.low-temp {
  color: rgba(0, 0, 0, 0.6);
}

.find-current-location {
  color: #70757a;
  font-size: 14px;
}

.github-link {
  text-transform: none;
  text-align: left;
  margin-top: 10px;
}

.temp-units .active {
  font-weight: bolder;
}

.temp-units .active:hover {
  cursor: default;
  color: #202124;
}

.weather-forecast {
  text-align: center;
}

.weather-forecast-date {
  text-transform: uppercase;
  font-size: 16px;
  opacity: 0.75;
}
.weather-forecast-temperatures {
  font-size: 14px;
}
.weather-forecast-temperature-min {
  opacity: 0.75;
}
