body {
  font-family: Poppins;
}

a {
  color: #7a9dc0;
  text-decoration: none;
}

h1 {
  text-align: left;
  font-size: 48px;
  margin-top: 20px;
  color: #8eb4da;
  color: #202124;
}

h2 {
  margin-top: 20px;
  font-size: 22px;
  color: #202124;
}
h4 {
  font-size: 16px;
  font-weight: 80px;
  line-height: 19px;
  color: #70757a;
}

p {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

img {
  display: block;
  margin: 0 auto;
}

hr {
  display: block;
  margin: 25px auto;
  color: #8eb4da;
}
hr.current {
  max-width: 15%;
  margin-top: 10px;
}

p.current-temp-range {
  text-align: left;
  margin-left: 2px;
  font-size: 14px;
}

.current-high-temp {
  color: #202124;
}

.current-low-temp {
  color: #70757a;
}

.card {
  margin: 30px;
  padding: 15px;
  max-width: 600px;
  padding-bottom: 15px;
}

.current-description {
  padding: 0;
}

.current-specs {
  margin-left: 30px;
  padding-left: 20px;
  margin-top: 20px;
  border-left: 3px solid #8eb4da;
}

.current-temp {
  margin-top: 30px;
}

.current-icon {
  margin-top: 20px;
}

.search-btn {
  display: inline-block;
}

.main-display {
  margin-top: 20px;
  margin-left: 32px;
  margin-bottom: 0;
}

img.upcoming-forecast {
  max-block-size: 30%;
  margin: 0 auto;
}

p.current {
  color: rgba(0, 0, 0, 0.6);
}

.search-submit {
  max-width: 100px;
  text-align: center;
}

.temp-units {
  font-size: 16px;
  position: relative;
  top: -26px;
}

.upcoming-forecast {
  padding: 0;
}

.low-temp {
  color: rgba(0, 0, 0, 0.6);
}

.find-current-location {
  color: black;
  font-size: 14px;
}

.github-link {
  text-transform: none;
}
